body {
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.ball {
    position: absolute;
    width: 100px;
    height: 100px;
    left: 0;
    top: 0;

}
img {
    position: absolute;
    width: 100px;
}

.reboteV {
    animation: reboteVertical 1.05s ease-in 0s infinite alternate;

}

.reboteH {
    animation: reboteHorizontal 3.14s linear 0s infinite alternate;

}

@keyframes reboteVertical {
    from {
        transform: translateY(0px);
    }
    to {
        transform: translateY(calc(100vh - 10vmin));
    }
}

@keyframes reboteHorizontal {
    from {
        transform: translateX(0px);
    }
    to {
        transform: translateX(calc(100vw - 10vmin));
    }
}